*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    color: #000;
}

input{
    border: none;
    outline: none;
}
h1{
    font-size: 2rem;
}

.social{
    border: 2px solid #efefef;
    background-color: #33ee3e;
}